@font-face {
    font-family: "Alegreya";
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&family=Overpass:wght@200&display=swap');
}
.textSize{
    font-size:10px;
}