//Theme One
$themeOneBlueBackground:hsl(222, 26%, 31%);
$themeOneToggleBackground:hsl(223, 31%, 20%);
$themeOneScreenBackground:hsl(224, 36%, 15%);
$themeOneDelResetBackground:hsl(225, 21%, 49%);
$themeOneDelResetBackgroundOpacity:hsla(225, 21%, 49%,0.9);
$themeOneDelResetShadow:hsl(224, 28%, 35%);
$themeOneEqualBackground:hsl(6, 63%, 50%);
$themeOneEqualBackgroundOpacity:hsla(6, 63%, 50%,0.9);
$themeOneEqualShadow:hsl(6, 70%, 34%);
$themeOneKeyBackground:hsl(30, 25%, 89%);
$themeOneKeyBackgroundOpacity:hsla(30, 25%, 89%,0.9);
$themeOneKeytShadow:hsl(28, 16%, 65%);
$themeOneTextColorOne:hsl(221, 14%, 31%);
$themeOneTextColorTwo:hsl(0, 0%, 100%);

//Theme Two
$themeTwoBlueBackground:hsl(0, 0%, 90%);
$themeTwoToggleBackground:hsl(0, 5%, 81%);
$themeTwoScreenBackground:hsl(0, 0%, 93%);
$themeTwoResetBackground:hsl(185, 42%, 37%);
$themeTwoResetBackgroundOpacity:hsla(185, 42%, 37%,0.9);
$themeTwoResetShadow: hsl(185, 58%, 25%);
$themeTwoEqualBackground: hsl(25, 98%, 40%);
$themeTwoEqualBackgroundOpacity: hsla(25, 98%, 40%,0.9);
$themeTwoEqualShadow:hsl(25, 99%, 27%);
$themeTwoKeytBackground:hsl(45, 7%, 89%);
$themeTwoKeyBackgroundOpacity:hsla(45, 7%, 89%,0.9);
$themeTwoKeyShadow:hsl(35, 11%, 61%);
$themeTwoTextColorOne:hsl(60, 10%, 19%);
$themeTwoTextColorTwo:hsl(0, 0%, 100%);

//Theme Three
$themeThreeBlueBackground:hsl(268, 75%, 9%);
$themeThreeToggleBackground:hsl(268, 71%, 12%);
$themeThreeScreenBackground: hsl(268, 71%, 12%);
$themeThreeResetBackground:hsl(281, 89%, 26%);
$themeThreeResetBackgroundOpacity:hsla(281, 89%, 26%,0.9);
$themeThreeResetShadow: hsl(285, 91%, 52%);
$themeThreeEqualBackground: hsl(176, 100%, 44%);
$themeThreeEqualBackgroundOpacity: hsla(176, 100%, 44%,0.9);
$themeThreeEqualShadow: hsl(177, 92%, 70%);
$themeThreeKeyBackground:hsl(268, 47%, 21%);
$themeThreeKeyBackgroundOpacity:hsla(268, 47%, 21%,0.9);
$themeThreeKeyShadow:hsl(290, 70%, 36%);
$themeThreeTextColorOne:hsl(52, 100%, 62%);
$themeThreeTextColorTwo:hsl(198, 20%, 13%);
$themeThreeTextColorThree:hsl(0, 0%, 100%);
$btn-disabled-opacity:.95;